<h1>
    This is the index page
</h1>
<h2>
    @ViewBag.Title
</h2>

<p>
    this is the view data : @ViewData["Key"]
</p>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button>
        <a asp-controller="Home" asp-action="Privacy">Go to the Privacy Page</a>
    </button>
</div>
