@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    this is the tempdata : @TempData["Success"]
</p>

<p>Use this page to detail your site's privacy policy.</p>
<a asp-controller="Home" asp-action="Success">Goto the success page</a>